body {
	font-family: 'Muli', sans-serif;
	font-size: 92%;		
}


h1 {
	font-size: 3em;
}
a {
	text-decoration: none;
	color: #444;
}
.clearfix::after{
	clear: both;
	display: block;
	content: "";
}

.container {
	width: 100%;
	margin: auto;
	max-width: 1220px;
	background-color: #5B7A2B;
}

.page-header {
	height: 80px;
	background-color: #FFF;
}

header h1 {
	float: left;
	padding-left: 10px;
}
#large-menu{
	display: none;
}
.isushi-nav ul {
	float: right;	
}
.isushi-nav li {
	float: left;	
}

#fix-menu a {
	color: #444;
	display: block;
	margin-right: 10px;
}
#fix-menu sup{
    background-color: #E7490F;
    border-radius: 50%;
    bottom: 23px;
    color: #fff;
    font-size: 0.3em;
    left: -5px;
    padding: 3px 6px;
    position: relative;
}

.isushi-nav a {
	display: block;
	padding: 25px 0;	
}

.isushi-nav a i {
	float: right;
	margin-right: 25px;
}


#nav-bottom {
	text-align: left;
	background-color: #E95A0D;
	padding: 5px 20px;
	text-transform: uppercase;
}
#nav-bottom li {
	padding: 20px 20px 20px 0;
	border-bottom: 1px solid #CCC;
}
.fa-chevron-right{
	float: right;
}

.products {
	color: #fff;
	padding: 20px;
	position:relative;
}

h2{
	font-size: 2em;
}
#userhello {
	float: right;
	font-size: 0.6em;
}

#tease {
    width: 100%;
}

#tease p{
	float: left;
	width: 60%;
    margin: 5%;
    font-size: 1.5em;	
}
#tease img {
	float: left;
	margin:2% auto;
	width: 22%;
}

/*nourriture*/

#menu-choice{
	display: none;
	width: 100%;
}


.menu-mosaic{
	width:320px;
	display:inline-block;
	float:left;
	position:relative;
	background-color: #985629;
}

img.adapt-image{
	width: 100%;
}

.selection {
	float:right;
	width :40%;

}

.menuText {
	float:left;
	width: 59%;
	height:62px;
	text-align: center;

}
.basketAdd{
	float:right;
	width: 70%;
	margin-right: 20px;
}


.basketAdd, {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
}


.menu-text,h3,p{
	color: white;
}

.menu-text,p{
	font-size: italic;
}

.basketAdd:hover{
	background-color: #b88884;
}

.myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}



/* page footer */
.page-footer {
	background-color: #282828;
	padding: 32px 25px;
	text-align: center;
	color: #fff;
}

@media screen and (min-width: 960px){
	/* Changement de header/menu */

	.container{
		background-color:#E7490F;
	}
	header h1 {
		float: left;
		padding-left: 20px;
	}

	.isushi-nav {		
		display: block;
		position: static;		
	}

	#large-menu {
		display: block;
		float: left;
    	padding-left: 15%;
	}
	#nav-bottom{
		display: none;
	}
	#fix-menu {
		width: 30%;
		float: right;	
	}

	.isushi-nav a {
		border-bottom: none;
		margin: 0 10px;
		font-size: 1.2em;
		font-weight: 600;
	}

	.isushi-nav li {
		float: left;
	}	
	#tease {
		width: 80%;
		margin: auto;	
	}
	#tease p{
    	font-size: 1.5em;
	}
	#menu-choice{
		display: block;
	}

	#menu-choice::after{
	display: block;
	content: "";
	clear:both;
	}

	#fullcarte::after{
		display: block;
		content: "";
		clear: both;
	}

	.menu-mosaic{
	width:25%;
	display:inline-block;
	float:left;
	position:relative;
	background-color: #985629;
	}

	.basketAdd{
		cursor: pointer;
	}
}